[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
vega-api-client = "*"
toml = "*"

[dev-packages]
black = "*"
pytest = "*"
requests-mock = "*"
jupyterlab = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
