certifi==2024.6.2 ; python_version >= "3.10" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
contourpy==1.2.1 ; python_version >= "3.10" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.12"
docker==7.1.0 ; python_version >= "3.10" and python_version < "3.12"
fonttools==4.53.0 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.63.1 ; python_version >= "3.10" and python_version < "3.12"
grpcio-tools==1.62.2 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.7 ; python_version >= "3.10" and python_version < "3.12"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.12"
matplotlib==3.9.0 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.10" and python_version < "3.12"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.10" and python_version < "3.12"
plotly==5.22.0 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "3.12"
protoc-gen-openapiv2==0.0.1 ; python_version >= "3.10" and python_version < "3.12"
protofuzz @ git+https://github.com/trailofbits/protofuzz@a4fd0936ae501dba0fc89d3af4ead8ef3aaad1d1 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.10" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.12"
pynacl==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.12"
pywin32==306 ; python_version >= "3.10" and python_version < "3.12" and sys_platform == "win32"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.12"
setuptools==70.0.0 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
tenacity==8.3.0 ; python_version >= "3.10" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
