certifi==2023.5.7 ; python_version >= "3.9" and python_version < "3.12"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.9" and python_version < "3.12"
contourpy==1.1.0 ; python_version >= "3.9" and python_version < "3.12"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.9" and python_version < "3.12"
fonttools==4.40.0 ; python_version >= "3.9" and python_version < "3.12"
googleapis-common-protos==1.59.1 ; python_version >= "3.9" and python_version < "3.12"
grpcio-tools==1.56.0 ; python_version >= "3.9" and python_version < "3.12"
grpcio==1.56.0 ; python_version >= "3.9" and python_version < "3.12"
idna==3.4 ; python_version >= "3.9" and python_version < "3.12"
importlib-resources==5.12.0 ; python_version >= "3.9" and python_version < "3.10"
inflection==0.5.1 ; python_version >= "3.9" and python_version < "3.12"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "3.12"
matplotlib==3.7.1 ; python_version >= "3.9" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.9" and python_version < "3.12"
packaging==23.1 ; python_version >= "3.9" and python_version < "3.12"
pandas==2.0.2 ; python_version >= "3.9" and python_version < "3.12"
pillow==9.5.0 ; python_version >= "3.9" and python_version < "3.12"
plotly==5.15.0 ; python_version >= "3.9" and python_version < "3.12"
protobuf==4.23.3 ; python_version >= "3.9" and python_version < "3.12"
protoc-gen-openapiv2==0.0.1 ; python_version >= "3.9" and python_version < "3.12"
psutil==5.9.5 ; python_version >= "3.9" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.12"
pynacl==1.5.0 ; python_version >= "3.9" and python_version < "3.12"
pyparsing==3.1.0 ; python_version >= "3.9" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.9" and python_version < "3.12"
pytz==2023.3 ; python_version >= "3.9" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.12"
scipy==1.11.0 ; python_version >= "3.9" and python_version < "3.12"
setuptools==68.0.0 ; python_version >= "3.9" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.12"
tenacity==8.2.2 ; python_version >= "3.9" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "3.12"
urllib3==1.26.16 ; python_version >= "3.9" and python_version < "3.12"
wrapt==1.15.0 ; python_version >= "3.9" and python_version < "3.12"
zipp==3.15.0 ; python_version >= "3.9" and python_version < "3.10"
