name: Release new version

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v*-snapshot" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Deploy Package
        uses: JRubics/poetry-publish@v1.15
        with:
          python_version: ${{ matrix.python-version }}
          pypi_token: ${{ secrets.PYPI_TEST_TOKEN }}
          repository_name: "testpypi"
          repository_url: "https://test.pypi.org/legacy/"
